<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_rinconcito"
        android:roundIcon="@drawable/logo_rinconcito"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        android:label="@string/app_name">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.example.ac_el_rinconcito.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.ac_el_rinconcito.RegisterActivity"
            android:exported="false"
            android:label="Registro"
            tools:ignore="WrongManifestParent" />

        <activity
            android:name="com.example.ac_el_rinconcito.ProfileActivity"
            android:exported="false"
            android:label="Perfil de Usuario"
            android:parentActivityName="com.example.ac_el_rinconcito.LoginActivity" />

    </application>

</manifest>